<div class="div_cart_gr show" id="id_cart_gr">
  <h5 class="title title-card">Giỏ hàng có <b id="count-product-id"><%= card_products.count %></b> sản phẩm</h5>
  <button class="btn-close-card" onclick="closeCart();"><i class="material-icons" >&#xE5CD;</i></button>

    <hr/>
    <div class="div_listcart mCustomScrollbar" id="_listcart" data-mcs-theme="dark" style="overflow-x:auto;">
      <% total_price = 0 %>
      <% card_products.each do |card_product| %>
        <%= render partial: 'card_products/product', locals: { card_product: card_product } %>
        <% total_price +=  card_product.product.price.to_f  * card_product.count %>
      <% end %>
            <hr/>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p class="text-total text-left">Tổng cộng</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p class="text-total text-right"><b id="total-price1"><%= total_price %>đ</b></p>
            </div>
            <div class="div_group_btn">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <%= link_to "Xem giỏ hàng", ct_product_path(), class:"btn btn-info" %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <% if card_products.count == 0 %>
                    <a class="btn btn-primary right" disabled>thanh toán</a>
                  <% else %>
                    <%= link_to "Thanh toán", new_order_path(), class:"btn btn-primary right btn-buy" %>
                  <% end %>
                </div>
            </div>

    </div>
</div>
