    <%= render 'layouts/header' %>
   <!--Gio hang-->

<div class="ThongtinDonHang">

	<div class="container">

		<div class="row">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

			<ul class="breadcrumb">

				<li class="active">

					<span class="ico_arrow"></span>

					<span>Giỏ hàng</span>

				</li>

				<li>

					<span class="ico_arrow"></span>

					<span>Thông tin giao hàng</span>

				</li>

			</ul>

			<div class="infogiohang">

        <span>Giỏ hàng của bạn có <b class="color" id="count-product-page-id"><%= @card_products.count %></b><b class="color"> sản phẩm</b></span>

			</div>

			<div class="row">

				<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
          <% total_price = 0 %>
          <% @card_products.each do |card_product| %>
            <%= render partial: 'card_products/product_ish', locals: { card_product: card_product } %>
            <% total_price +=  card_product.product.price.to_f  * card_product.count %>
          <% end %>
				</div>

				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">

          <p class="title_giohang"><b>TỔNG TIỀN:</b><b class="color" id="total-price1-page"><%= total_price %> đ</b></p>

          <div class="row_btn">
            <% if @card_products.count == 0 %>
              <a class="btn btn-primary btn_big" disabled>THANH TOÁN</a>
            <% else %>
              <%= link_to "THANH TOÁN", new_order_path(), class:"btn btn-primary btn_big btn-buy-page" %>
            <%end%>
          </div>

					<p><a class="link_buy">Mua thêm sản phẩm khác</a></p>

				</div>

			</div>

		</div>

	</div>

</div>

</div>

<!--Gio hang End-->
    <%= render 'layouts/footer' %>
