<%= render 'layouts/header' %>
<div class="ThongtinDonHang">

	<div class="container">

		<div class="row">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

			<ul class="breadcrumb">

				<li>

					<span class="ico_arrow"></span>

					<span>Giỏ hàng</span>

				</li>

				<li  class="active">

					<span class="ico_arrow"></span>

					<span>Thông tin giao hàng</span>

				</li>

			</ul>

<!---			<div class="infogiohang">

				<span>Nhập thông tin giao hàng</span>

        </div>
        --->
      

			<div class="row">

				<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">	

					<div class="form-group row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							

              <label class="infor-label">Họ và tên</label>
              <p><%= @order.name %></p>


						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col_left div_sdt">



              <label class="infor-label">Số điện thoại</label>
              <p><%= @order.phone %></p>

						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col_right">


              <label class="infor-label">Email</label>
              <p><%= @order.email %></p>

						</div>

					</div>

				

					<div class="form-group row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

              <label class="infor-label">Địa chỉ nhận hàng</label>
              <p><%= @order.address %></p>

						</div>

					</div>

				
					<div class="form-group row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

              <label class="infor-label">Ghi chú</label>
              <p><%= @order.note %></p>
						</div>
					</div>

          <div class="form-group row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label>Trạng thái đơn hàng</label>
              <%= form_for @order, url: sys_update_status_order_path(), method: 'put', remote: true do |f| %>
                <%= f.collection_radio_buttons(:status, Status.all, :id, :name, { checked: @order.status.id }) do |b| %>
                  <span>
                    <%=b.radio_button(onchange: "updateStatusOrder('order_status_#{b.value}');", class: "status-radio #{b.value < @order.status.id ? 'dp-none' : ''}")%> <%= b.label(class: "status-label #{b.value == @order.status.id ? 'active-label' : ''} #{b.value < @order.status.id ? 'dp-none' : ''} ") %>
                  </span>
                <%end%>
                <%= f.submit id: "order-status-submit-btn"  %>

              <%end%>
						</div>
					</div>

					

					<div class="form-group row method_payment">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							<label class="title" for="fullname">Phương thức thanh toán</label>

						</div>

						<div class="card">

							<div class="card-header" id="headingOne">

								<div class="styled-input-single item" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">

                  <h4>Thanh toán khi nhận hàng</h4>

								</div>



							</div>

						  </div>



					</div>

					

				</div>
     

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Shows-md">

					<hr/>

				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Shows-md">

					<label class="title" for="fullname">Đơn hàng</label>

				</div>

				<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 ">

          <% total_price = 0 %>
          <% @order.card_products.each do |cart_product| %>
            <% total_price += cart_product.product.price * cart_product.count %>
            <%= render 'product', card_product: cart_product, image: cart_product.image, 
          cart_product_or_product: cart_product %>
          <% end %>
					<hr class="hidden-sm-down" />




					<div class="row">

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

							<p class="text tit_small title-big">TỔNG TIỀN:</p>

						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

              <p class="text text-right all-price"><b class="color"><%= total_price %> VNĐ</b></p>

						</div>

						

					</div>





				</div>

				

			</div>

			

		</div>

	</div>

</div>

</div>
<%= render 'layouts/footer' %>
