<%= render 'layouts/header'%>
 <div class="NewSP dp-grid-28">
   <div class="filter-row">
     <div class="title bg-cl-eee">
       <h3>Lọc sản phẩm</h3>
     </div>
     <div class="form-product-filter">
       <%= form_for :product_filter,url: products_path, method:'get', remote:true, id:"form-filter" do |f|%>
       <div class="category-filter bg-cl-eee">
         <h4>Loại sản phẩm</h4>
         <%= f.collection_check_boxes(:category, Category.all, :id, :name) do |b| %>
           <div class="form-check">
           <%= b.check_box(class: "form-check-input", onclick: "submitFilter()") %>
           <%= b.label(class: "form-check-label")  %>
           </div>
         <%end%>
       </div>
       <div class="brand-filter bg-cl-eee">
         <h4>Nhãn hiệu</h4>
         <%= f.collection_check_boxes(:brand, Brand.all, :id, :name) do |b| %>
           <div class="form-check">
           <%= b.check_box(class: "form-check-input", onclick: "submitFilter()") %>
           <%= b.label(class: "form-check-label")  %>
           </div>
         <%end%>
         <%= f.submit id:"submit-filter-btn", hidden:true %>
       </div>
     <%end%>
     </div>
   </div>

    	<div class="sp">

    		<div class="row">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products-list ">



					<h3 class="title_big">TOP SẢN PHẨM MỚI NHẤT</h3>

					<div class="row" id="hot_products">
            <%= render @hot_products %>
					</div>

					<div class="pos_bg_link_arrow hot-products">
            <%= link_to_next_page(@hot_products, "Xem thêm", url: filter_products_path(), :remote => true, class: "bg_link_arrow") %>

					</div>

				</div>

			</div>
      
		</div>

</div>

<%= render 'layouts/footer' %>
