<%= render 'layouts/header' %>
<div class="container new-product-wrapper">
  <h2>Thêm sản phẩm mới</h2>
  <div class="form-product">
    <%= form_for @product do |f|  %>
      <div class="prop">
        <%= f.label "Tên sản phẩm" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="prop">
        <%= f.label "Mô tả" %>
        <%= f.text_area :description, class: "form-control height-200" %>
      </div>
      <div class="prop">
      <%= f.fields_for :sizes do |size| %>
        <%= render "size_fields", f: size %>
      <% end %>
        <%= link_to_add_association 'Thêm size', f, :sizes %>
      </div>
      <div class="prop">
        <%= f.label "Giá" %>
        <%= f.number_field :price, class: "form-control" %>
      </div>
      <div class="prop cat-brand">
        <div class="cb">
          <%= f.label "Thương hiệu" %> 
          <%= f.select(:brand_id, Brand.all.map { |brand| [ brand.name, brand.id ] },  :class => 'choose-size-pp') %>
          
        </div>
        <div class="cb">
          <%= f.label "Loại" %>
          <%= f.select(:category_id, Category.all.map { |cat| [ cat.name, cat.id ] }, :html => { :class => 'choose-size-pp' })%>
          
        </div>
      </div>
      <div class="prop">
        <%= f.label "Ảnh sản phẩm" %>
        <%= f.file_field :images, multiple: true %>

      </div>
      <%= f.submit "Thêm sản phẩm mới", class:"btn btn-success" %>

    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
