<%= render 'layouts/header' %>
   <!--San pham moi-->

   <div class="detail_content">

    	<div class="container">

    		<div class="row">

    			<div class="col-lg-6 col-md-6 col-sm-12">

    				<!-- Swiper -->

                    <div class="SliderDetailProduct">

                        <div class="swiper-container gallery-top">

                            <div class="swiper-wrapper">

                                <% @product.images.each do |image| %>

                                  <div class="swiper-slide" style="background-image:url('<%= image  %>')"></div>
                              <% end %>

                            </div>

                            <!-- Add Arrows -->

                            <div class="swiper-button-next swiper-button-white"></div>

                            <div class="swiper-button-prev swiper-button-white"></div>

                        </div>

                        <div class="swiper-container gallery-thumbs">

                            <div class="swiper-wrapper">

                                <% @product.images.each do |image| %>

                                  <div class="swiper-slide" style="background-image:url('<%= image %>')"></div>
                                <% end %>


                            

    

                            </div>

                        </div>

                    </div>

    			</div>

    			<div class="col-lg-6 col-md-6 col-sm-12">

    				

    				<div class="detail_item">

              <h2 class="name_item"><%= @product.name %></h2>

    					<p>

              <span class="new_price"><%= @product.price %></span>
              <!--		<del class="old_price">2.000.000 đ</del> --->

						</p>

    					<h4 class="thongtin">THÔNG TIN</h4>

    					<ul class="ul_info">

    					

    						<li>

    							<p><span class="text">Chất liệu: cotton </span></p>

    						</li>

    						

    						<li>

    							<p><span class="text">Size: S - M - L - XL </span></p>

    						</li>
                <li>

                  <p><span class="text">Kho:  </span></p>
                  <% @product.sizes.each do |size| %>
                    <p><span class="text">+ Size <b><%= size.name %></b>: <%= size.stock %> </span></p>
                  <%end%>
    						</li>

    					</ul>

    				</div>

    				<hr>

    				<div class="accordion filter_list" id="accordionExample">

					  <div class="card">

						<div class="card-header" id="btn_kichthuoc">

						  <h5 class="mb-0">

							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#kichthuoc" aria-expanded="true" aria-controls="kichthuoc">

							  BẢNG KÍCH THƯỚC

							</button>

						  </h5>

						</div>



						<div id="kichthuoc" class="list_menu collapse " aria-labelledby="btn_kichthuoc" data-parent="">

						  <div class="card-body">

							<img src="images/demo/size-03.jpg" alt="" />

						  </div>

						</div>

					  </div>

					  <div class="card">

						<div class="card-header" id="btn_doitrahang">

						  <h5 class="mb-0">

							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#doitrahang" aria-expanded="true" aria-controls="doitrahang">

							  SHIP & ĐỔI TRẢ HÀNG

							</button>

						  </h5>

						</div>

						<div id="doitrahang" class="collapse " aria-labelledby="btn_doitrahang" data-parent="">

						  <div class="card-body">

							<div class="doitrahang_body">

								<p><b>Miễn phí giao hàng toàn quốc</b> (Sản phẩm trên 300,000đ)</p>

								<p><b>Thanh toán tiện lợi</b> (nhiều hình thức thanh toán)</p>

								<p><b>Đổi trả dễ dàng</b> Đổi trả 90 ngày cho giày và 30 ngày cho túi</p>

							</div>

						  </div>

						</div>

					  </div>

					</div>

		

					<div class="row row_line">

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

							<b class="title_size">CHỌN SIZE</b>

						</div>

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

<select class="choose-size-pp" onchange="changeSize(this);" onload="changeSize(this);">
  <% @product.sizes.each do |size| %>
    <option value="<%= size.name %>"><%= size.name %></option>
  <% end %>
</select>

						</div>

					</div>

					<div class="row row_line">

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

							<b class="title_count">SỐ LƯỢNG</b>

						</div>

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

							<ul class="ul_count">

								<li>
                  <input type="number" name="" class="count" id="" value="1" onchange="changeCount(this);">


								</li>

								<li><span class="yeuthich active"></span></li>

								<li>

                    <%= form_for :card_product, url: card_products_path(), remote: true do |f| %>
                      <%= f.hidden_field :count, value: 1, id:"product-count-buy" %>
                      <%= f.hidden_field :product_id, value: @product.id %>
                      <%= f.hidden_field :size, value: @product.sizes[0].name, id:"product-size-buy" %>
                      <%= f.hidden_field :type_order, value: "buy" %>
                      <div class="buy"><%= f.submit "Mua ngay", class: "btn-primary" %> </div>
                    <%end%>
                  

								</li>

							</ul>
              <% if !@isAddedCard.nil? %>
                <%= render partial: 'card_products/added_card_btn', locals: { card_product_id: @isAddedCard.id } %>
              <% else %>
                <%= render partial: 'card_products/add_card_form', locals: {product: @product } %>
              <% end %>

						</div>

					</div>

    				

    				

    				

				</div>

    		</div>

    	</div>

    </div>

	<div class="PR_content">

    	<div class="container">

    		<div class="row">

    			<div class="col-lg-9 col-md-9 col-sm-12">

					<ul class="tab_pr">

						<li class="btn_tab1 active"><span class="tab1">THÔNG TIN </span></li>

						<li class="btn_tab2"><span class="tab2">ĐỔI HÀNG & VẬN CHUYỂN</span></li>

					</ul>

					<div class="tab1_info active">

            <p><%= @product.description %>Lorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and typesetting indLorem Ipsum is simply dummy text of the printing and tyesetting ind</p>

            <img src="<%= @product.images[0] %>" /> 

					</div>

					<div class="tab2_info">

						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 

					</div>
          <hr>
          
          <div class="comments-wrapper">
            <h2>Đánh giá</h2>
            <% if logged_in? %>
              <% if @commented.nil? %>
                <%= render partial: 'comments/form', locals: {product: @product, star: 0} %>
              <% else %>
                <%= render partial: 'comments/your_comment', locals: {comment: @commented} %>
              <%end%>
          <% end %>
            
            <h3>Bình luận của khách hàng đã mua</h3>
            
            <div class="comments-list">
              <%= render partial: 'comments/comment', locals: {comments: @product.comments} %>
            </div>
          </div>
          </div> 

				<div class="col-lg-3 col-md-3 col-sm-12">

					<div class="list_one_item">

						<h4 class="text-center">SẢN PHẨM LIÊN QUAN</h4>

						<hr/>

						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-3 col-xs-6">

								<div class="group_item">

									<div class="item">

										<span class="ribbon new"></span>

										<img src="images/demo/item1.png" alt="">

										<div class="pos">

											<div class="bg_pos">

												<span class="btn btn-primary">THÊM VÀO GIỎ</span>

											</div>

										</div>

										<div class="div_info">

											<p class="text-center show_info"><span class="name">CHÂN VÁY CV04835</span></p>

											<p class="text-center show_infoTHÊM VÀO GIỎ"><span class="price">1,950,000đ</span></p>

											<p class="text-center btn_info">

												<a class="btn btn-default">Xem</a>

												<a class="btn btn-default">Mua ngay</a>

											</p>

										</div>

									</div>

								</div>

							</div>

							<div class="col-lg-12 col-md-12 col-sm-3 col-xs-6">

								<div class="group_item">

									<div class="item">

										<span class="ribbon new"></span>

										<img src="images/demo/item3.png" alt="">

										<div class="pos">

											<div class="bg_pos">

												<span class="btn btn-primary">THÊM VÀO GIỎ</span>

											</div>

										</div>

										<div class="div_info">

											<p class="text-center show_info"><span class="name">CHÂN VÁY CV04835</span></p>

											<p class="text-center show_infoTHÊM VÀO GIỎ"><span class="price">1,950,000đ</span></p>

											<p class="text-center btn_info">

												<a class="btn btn-default">Xem</a>

												<a class="btn btn-default">Mua ngay</a>

											</p>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

    <!--San pham moi End-->

     <!--San pham da xem-->

    <div class="ViewSP">

    	<div class="container">

    		<div class="row">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

					

					<h3 class="title_big">SẢN PHẨM BẠN ĐÃ XEM</h3>

					<div class="row">

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">

							<div class="group_item">

								<div class="item">

									<span class="ribbon new"></span>

									<img src="images/demo/item1.png" alt=""/>

									<div class="pos">

										<div class="bg_pos">

											<span class="btn btn-primary">THÊM VÀO GIỎ</span>

										</div>

									</div>

									<div class="div_info">

										<p class="text-center show_info"><span class="name">CHÂN VÁY CV04835</span></p>

										<p class="text-center show_infoTHÊM VÀO GIỎ"><span class="price">1,950,000đ</span></p>

										<p class="text-center btn_info">

											<a class="btn btn-default">Xem</a>

											<a class="btn btn-default">Mua ngay</a>

										</p>

									</div>

								</div>

							</div>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">

							<div class="group_item">

								<div class="item">



									<img src="images/demo/item2.png" alt=""/>

									<div class="pos">

										<div class="bg_pos">

											<span class="btn btn-primary">THÊM VÀO GIỎ</span>

										</div>

									</div>

									<div class="div_info">

										<p class="text-center show_info"><span class="name">CHÂN VÁY CV04835</span></p>

										<p class="text-center show_infoTHÊM VÀO GIỎ"><span class="price">1,950,000đ</span></p>

										<p class="text-center btn_info">

											<a class="btn btn-default">Xem</a>

											<a class="btn btn-default">Mua ngay</a>

										</p>

									</div>

								</div>

							</div>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">

							<div class="group_item">

								<div class="item">



									<img src="images/demo/item3.png" alt=""/>

									<div class="pos">

										<div class="bg_pos">

											<span class="btn btn-primary">THÊM VÀO GIỎ</span>

										</div>

									</div>

									<div class="div_info">

										<p class="text-center show_info"><span class="name">CHÂN VÁY CV04835</span></p>

										<p class="text-center show_infoTHÊM VÀO GIỎ"><span class="price">1,950,000đ</span></p>

										<p class="text-center btn_info">

											<a class="btn btn-default">Xem</a>

											<a class="btn btn-default">Mua ngay</a>

										</p>

									</div>

								</div>

							</div>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">

							<div class="group_item">

								<div class="item">

									<span class="ribbon new"></span>

									<img src="images/demo/item4.png" alt=""/>

									<div class="pos">

										<div class="bg_pos">

											<span class="btn btn-primary">THÊM VÀO GIỎ</span>

										</div>

									</div>

									<div class="div_info">

										<p class="text-center show_info"><span class="name">CHÂN VÁY CV04835</span></p>

										<p class="text-center show_infoTHÊM VÀO GIỎ"><span class="price">1,950,000đ</span></p>

										<p class="text-center btn_info">

											<a class="btn btn-default">Xem</a>

											<a class="btn btn-default">Mua ngay</a>

										</p>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

    </div>
    
    <%= render 'layouts/footer' %>
