<div class="HeaderPage">

    <!--Header-->
    <div class="Header_hotline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="left">
                        <ul class="contact">
                            <li>
                                <span class="icon_email"></span>
                                <span class="text_email">Email: matbu@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon_hotline"></span>
                                <span class="text_hotline">028 6656 3365</span>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul class="account">
                            <li class="">
                                <% if logged_in? %>
                                    <%= link_to user_path(current_user) do %>
                                        <span class="icon_account"></span>
                                        <% end %>
                                            <%= link_to "Đăng xuất", auth_session_path(current_user), method: 'delete', class: "text_account"  %>
                                                <% else %>
                                                    <%= link_to "Đăng ký",new_auth_signup_path(), class:"text_account", remote: true
                %>

                                                        <span class="text_account">|</span>
                                                        <%= link_to "Đăng nhập",new_auth_session_path(), class:"text_account", remote: true
                %>

                                                            <% end %>
                            </li>
                            <li class="accountlogin ico_avatar hidden">
                                <span class="text">Yuna</span>
                                <span>
									</span>
                                <span class="icon_down"></span>
                                <div class="div_login_signup">
                                    <span class="name">Yuna</span>
                                    <hr/>
                                    <!--Đã login-->
                                    <ul>
                                        <li class=""><a href="#">Thông tin tài khoản</a></li>
                                        <li class=""><a href="#">Giỏ hàng</a></li>
                                        <li class=""><a href="#">Lịch sử mua hàng</a></li>
                                        <li class=""><a href="#">Thoát</a></li>
                                    </ul>
                                    <!--Đã login end-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="HeaderContent ">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <%= link_to image_tag("logo.svg", alt: "logo"), "/", class:"logo" %>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">

                    <div class="group_link_header ">

                        <div class="div_search hidden-xs-down">
                            <%= form_for :search, url: search_products_path(), method: 'get' do |f| %>
                                <%= f.text_field :name,  placeholder:"Tìm kiếm" %>
                                    <span class="icon_search"></span>
                                    <%end%>
                        </div>
                        <div class="div_cart div_tracuu">
                            <p class="cart">
                                <span class="ico_tracuu"></span>
                                <span class="text"><%= link_to "Theo dõi đơn hàng", orders_path() %></span>
                            </p>
                        </div>
                        <div class="div_cart">
                            <p class="cart btn_popup_cart">
                                <span class="ico_cart"><span class="_number"></span></span>
                                <%= link_to "Giỏ hàng", card_products_path(), class:"text", remote: true %>
                            </p>
                            <div class="cgrd-wrapper">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Navigation-->
    <div class="HeaderNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <!--Navigation-->
            <div class="div_search_pos Shows-xs">
                <div class="div_search">
                    <span class="ico_search show_search"></span>
                    <span class="search_text">Tìm kiếm</span>
                    <span class="div_input_search">
							<input class="input" placeholder="Tìm kiếm">
							<span class="btn btn-primary ico_search act btn_search"></span>
                    <span class="close_search">

							</span>

                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Navigation End-->
    <div class="HeaderContent headermenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0">

                </div>
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="cate ">
                                <a href="#">
									<span class="text_cate">Áo & Quần</span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Áo</h2>
                                        <hr/>
                                        <ul>
                                            <li><%= link_to "Áo", category_products_path(name: "Áo") %></li>
                                            <li><%= link_to "Áo khoác & Áo vest", category_products_path(name: "Áo khoác & Áo vest") %></li>
                                            <li><%= link_to "Đồ đôi", category_products_path(name: "Đồ đôi") %></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Quần</h2>
                                        <hr/>
                                        <ul>
                                            <li><%= link_to "Quần", category_products_path(name: "Quần") %></li>
                                        </ul>
                                    </div>
                                    <%= render partial: 'layouts/new_product', locals: {name: "Áo"} %>
                                 </div>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="text_cate">Váy </span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Váy</h2>
                                        <hr/>
                                        <ul>
                                            <li><%= link_to "Chân váy", category_products_path(name: "Chân váy") %></li>
                                            <li><%= link_to "Đầm", category_products_path(name: "Đầm") %></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Thời trang Bầu</h2>
                                        <hr/>
                                        <ul>
                                            <li><%= link_to "Thời trang bầu và sau sinh ", category_products_path(name: "Thời trang bầu và sau sinh ") %></li>
                                        </ul>
                                    </div>
                                    <%= render partial: 'layouts/new_product',locals:{ name: "Chân váy"} %>
                                    
                                </div>
                            </li>
                            
                            
                            <li class="cate">
                                <a href="#">
									<span class="text_cate">Set trang phục</span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Trang phục</h2>
                                        <hr/>
                                        <ul>
                                            <li><%= link_to "Set trang phục & Jumpsuit", category_products_path(name: "Set trang phục & Jumpsuit") %></li>
                                            <li><%= link_to "Trang phục đông", category_products_path(name: "Trang Phục Đông") %></li>
                                            <li><%= link_to "Thời trang trung niên", category_products_path(name: "Thời trang trung niên") %></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Phụ kiện</h2>
                                        <hr/>
                                        <ul>
                                          <li><%= link_to "Phụ kiện may mặc", category_products_path(name: "Phụ kiện may mặc") %></li>
                                        </ul>
                                    </div>
                                    <%= render partial: 'layouts/new_product', locals: { name: "Trang Phục Đông"} %> 
                                </div>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="text_cate">Đồ lót & Ngủ</span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Đồ lót</h2>
                                        <hr/>
                                        <ul>
                                          <li><%= link_to "Đồ lót, Đồ ngủ & Đồ mặc nhà", category_products_path(name: "Đồ lót, Đồ ngủ & Đồ mặc nhà") %></li>
                                        </ul>
                                    </div>
                                    
                                    <%= render partial: 'layouts/new_product', locals: { name: "Đồ lót, Đồ ngủ & Đồ mặc nhà"} %>
                                </div>
                            </li>

                            <li class="cate">
                                <a href="#">
									<span class="text_cate">Thể thao</span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Bơi</h2>
                                        <hr/>
                                        <ul>
                                          <li><%= link_to "Đồ bơi", category_products_path(name: "Đồ bơi") %></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>GYM</h2>
                                        <hr/>
                                        <ul>
                                          <li><%= link_to "Trang phục thể thao", category_products_path(name: "Trang phục thể thao") %></li>
                                        </ul>
                                    </div>
                                    <%= render partial: 'layouts/new_product', locals: { name: "Trang phục thể thao"} %>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header End-->
</div>
