<div class="HeaderPage">

    <!--Header-->
    <div class="Header_hotline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="left">
                        <ul class="contact">
                            <li>
                                <span class="icon_email"></span>
                                <span class="text_email">Email: matbu@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon_hotline"></span>
                                <span class="text_hotline">028 6656 3365</span>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul class="account">
                            <li class="">
                                <% if logged_in? %>
                                    <%= link_to user_path(current_user) do %>
                                        <span class="icon_account"></span>
                                        <% end %>
                                            <%= link_to "Đăng xuất", auth_session_path(current_user), method: 'delete', class: "text_account"  %>
                                                <% else %>
                                                    <%= link_to "Đăng ký",new_auth_signup_path(), class:"text_account", remote: true
                %>

                                                        <span class="text_account">|</span>
                                                        <%= link_to "Đăng nhập",new_auth_session_path(), class:"text_account", remote: true
                %>

                                                            <% end %>
                            </li>
                            <li class="accountlogin ico_avatar hidden">
                                <span class="text">Yuna</span>
                                <span>
										<img src="images/demo/yuna.png" alt="" /> 
									</span>
                                <span class="icon_down"></span>
                                <div class="div_login_signup">
                                    <span class="name">Yuna</span>
                                    <hr/>
                                    <!--Đã login-->
                                    <ul>
                                        <li class=""><a href="#">Thông tin tài khoản</a></li>
                                        <li class=""><a href="#">Giỏ hàng</a></li>
                                        <li class=""><a href="#">Lịch sử mua hàng</a></li>
                                        <li class=""><a href="#">Thoát</a></li>
                                    </ul>
                                    <!--Đã login end-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="HeaderContent ">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <%= link_to image_tag("logo.svg", alt: "logo"), "/", class:"logo" %>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">

                    <div class="group_link_header ">

                        <div class="div_search hidden-xs-down">
                            <%= form_for :search, url: search_products_path(), method: 'get' do |f| %>
                                <%= f.text_field :name,  placeholder:"Tìm kiếm" %>
                                    <span class="icon_search"></span>
                                    <%end%>
                        </div>
                        <div class="div_cart div_tracuu">
                            <p class="cart">
                                <span class="ico_tracuu"></span>
                                <span class="text"><%= link_to "Theo dõi đơn hàng", orders_path() %></span>
                            </p>
                        </div>
                        <div class="div_cart">
                            <p class="cart btn_popup_cart">
                                <span class="ico_cart"><span class="_number"></span></span>
                                <%= link_to "Giỏ hàng", card_products_path(), class:"text", remote: true %>
                            </p>
                            <div class="cgrd-wrapper">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Navigation-->
    <div class="HeaderNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <!--Navigation-->
            <div class="div_search_pos Shows-xs">
                <div class="div_search">
                    <span class="ico_search show_search"></span>
                    <span class="search_text">Tìm kiếm</span>
                    <span class="div_input_search">
							<input class="input" placeholder="Tìm kiếm">
							<span class="btn btn-primary ico_search act btn_search"></span>
                    <span class="close_search">

							</span>

                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Navigation End-->
    <div class="HeaderContent headermenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0">

                </div>
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="cate active">
                                <a href="#">
									<span class="ico_ao"></span>
									<span class="text_cate">Áo</span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Áo</h2>
                                        <hr/>
                                        <ul>
                                            <li><a>Áo</a></li>
                                            <li><a>Áo khoác & Áo vest</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Phụ kiện</h2>
                                        <hr/>
                                        <ul>
                                            <li><a>Phụ kiện may mặc</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <span class="new_title">SẢN PHẨM MỚI HÔM NAY</span>
                                        <div class="bg_sp_new">
                                            <% new_clth_product = Category.find_by(name: "Áo").products.last %>
                                                <%= link_to image_tag(new_clth_product.images[0]), product_path(new_clth_product) %>
                                                    <%= link_to product_path(new_clth_product), class:"bg_text" do %>
                                                        <p class="text text-center">
                                                            <%= new_clth_product.name %>
                                                        </p>
                                                        <p class="price text-center">
                                                            <%= new_clth_product.price %>đ</p>
                                                        <%end%>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="ico_vay"></span>
									<span class="text_cate">Váy </span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Váy</h2>
                                        <hr/>
                                        <ul>
                                            <li><a>Chân váy</a></li>
                                            <li><a>Đầm</a></li>
                                            <li><a>THời trang bầu và sau sinh</a></li>
                                            <li><a>Áo khoác</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Phụ kiện</h2>
                                        <hr/>
                                        <ul>
                                            <li><a>Dây nịt</a></li>
                                            <li><a>Nón</a></li>
                                            <li><a>Set Bộ - Set Kết Hợp</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <span class="new_title">SẢN PHẨM MỚI HÔM NAY</span>
                                        <div class="bg_sp_new">
                                            <a><img alt="" src="images/demo/img_menu.png" /> </a>
                                            <a class="bg_text">
                                                <p class="text text-center">Bird of paradise medium top bag
                                                    TXT131 - Shades of love</p>
                                                <p class="price text-center">750,000đ</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="ico_dam"></span>
									<span class="text_cate">Đầm</span>
								</a>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="ico_tuixach"></span>
									<span class="text_cate">Bóp</span>
								</a>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="ico_giay"></span>
									<span class="text_cate">Giày</span>
								</a>
                                <div class="cate_child">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Giày</h2>
                                        <hr/>
                                        <ul>
                                            <li><a>Áo thun</a></li>
                                            <li><a>Áo sơmi</a></li>
                                            <li><a>Áo len</a></li>
                                            <li><a>Áo khoác</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <h2>Phụ kiện</h2>
                                        <hr/>
                                        <ul>
                                            <li><a>Dây nịt</a></li>
                                            <li><a>Nón</a></li>
                                            <li><a>Set Bộ - Set Kết Hợp</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <span class="new_title">SẢN PHẨM MỚI HÔM NAY</span>
                                        <div class="bg_sp_new">
                                            <a><img alt="" src="images/demo/img_menu.png" /> </a>
                                            <a class="bg_text">
                                                <p class="text text-center">Bird of paradise medium top bag
                                                    TXT131 - Shades of love</p>
                                                <p class="price text-center">750,000đ</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="ico_km"></span>
									<span class="text_cate">Khuyến mãi</span>
								</a>
                            </li>
                            <li class="cate">
                                <a href="#">
									<span class="ico_tintuc"></span>
									<span class="text_cate">Tin tức thời trang</span>
								</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header End-->
</div>
